*{
    box-sizing: border-box;
}
body {
    background-color: #fff;
    font-size: .875em;
    overflow-x: hidden;
    color: #353c4e;
    background-attachment: fixed;
}
h1, h2, h3, h4 {
    font-size: 24px;
    font-family: 'Cera Pro',sans-serif;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.inner-content{
        font-family: 'Cera Pro',sans-serif;
        padding: 10px;
        background-color: #fff;
}
div, li, span {
        font-family: 'Cera Pro',sans-serif;
}
.main-body {
    font-family: 'Cera Pro',sans-serif;
    padding: 0;
    margin-top: 0;
    transition: all ease-in .3s;
}
.heading{
    letter-spacing: 1px;
    margin: 4px 0;
    text-transform: capitalize;
    display: inline-block;
    color: black;
    font-size: 30px;
    margin-left: 10px;
    width: fit-content;
    padding: 10px 10px;
   
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.course {
    background-color:  #FFFFFF;
    border-radius: 0%;
    box-shadow: 0 4px 10px rgb(82 81 86);
    display: flex;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
   
}
.course-info {
    padding: 15px;
    position: relative;
    width: 100%;
    }


.course-info-blur{
    padding: 15px;
    position: relative;
    width: 100%;
}

.course-info-hide{
    
    padding: 15px;
    position: relative;
    width: 100%;
    filter: blur(2px);
     -webkit-filter: blur(2px);
}

.course h2 {
    letter-spacing: 1px;
    margin: 4px 0;
    text-transform: capitalize;
    
}
.course h6 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}
h6 {
    font-family: 'Cera Pro',sans-serif;
    font-size: 14px;
}
.p-t-10 {
    font-family: 'Cera Pro',sans-serif;
    padding-top: 10px!important;
}


.course-info-blur{
    filter: blur(2px);
}

  .fa-lock:hover {
    color: rgb(0, 0, 0);
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .3s ease;
    background:black;
    background:rgb(240 238 238 / 80%);
    filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter:blur(4px);
  }
  
  .icon {
    color: rgb(0, 0, 0);
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

/* 
to make carousel effect to cards


  .unlocked{
      display: flex;
      flex-flow: nowrap;
      overflow-x: scroll;
  }
  .unlocked::-webkit-scrollbar{
      display: none;
  }
  .Freemock{
    display: flex;
    flex-flow: nowrap;
    overflow-x: scroll;
}
.Freemock::-webkit-scrollbar{
    display: none;
}
.locked{
    display: flex;
    flex-flow: nowrap;
    overflow-x: scroll;
}
.locked::-webkit-scrollbar{
    display: none;
} */


  .btn_space{
      margin-right: 8px;
      padding: 10px 15px;
      background-color: #3060AC;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
      margin-top: 20px;
      cursor: pointer;
      position: absolute;
      bottom: 44px;
      right: 102px;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
  
  .btn_space:hover, .btn_space:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
  .bottom-text{
    width:100%; 
    opacity: 0.6;
    display: inline-block;
    margin-top: 70px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Cera Pro',sans-serif;
    font-size: 11px; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
}
.checked {
    color: orange;
  }

@media only screen and (max-width: 600px){
    .course {
       height: 300px;
       width: 300px;
    }
  
}
@media (max-width: 768px) { 
    .course {
        height: 3500px;
        width: 348px;
     }
 }
 @media (max-width: 1200px) { 
    .course {
        height: 300px;
        width: 500px;
     }
 }